.banner{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(32, 27, 27, 0.80),rgba(0,0,0,0.80)),url(Landscape-Photography-steps.jpg);
    background-size: cover;
}
.paragragh{
    color:rgba(249, 253, 0, 0.4)
}